<h1>Banks::Login#index</h1>
<p>Find me in app/views/banks/login/index.html.erb</p>

<%= form_for :login do |f| %>
  <table>
    <% @credentials.each_with_index do |credential, i| %>
      <%= f.fields_for "#{i}" do |credential_form| %>
        <%= credential_form.hidden_field :guid, value: credential.mx_id %>
        <tr>
          <td><%= credential_form.label credential.field_label %></td>
          <td><% if credential.html_field_type == "text" %>
            <%= credential_form.text_field :value %>
          <% elsif credential.html_field_type == "password" %>
            <%= credential_form.password_field :value %>
          <% end %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= f.submit "Submit" %>
<% end %>
