<h1>Banks::Authenticate#index</h1>
<p>Find me in app/views/banks/authenticate/index.html.erb</p>

<%= form_for :challenge do |f| %>
  <table>
    <% @credentials.each_with_index do |credential, i| %>
      <%= f.fields_for "#{i}" do |credential_form| %>
        <%= credential_form.hidden_field :guid, value: credential.mx_id %>
        <% if credential.html_field_type == "text" %>
          <%= render partial: "banks/shared/text_mfa", locals: { credential_form: credential_form, credential: credential } %>
        <% elsif credential.html_field_type == "password" %>
          <%= render partial: "banks/shared/password_mfa", locals: { credential_form: credential_form, credential: credential } %>
        <% elsif credential.html_field_type == "options" %>
          <%= render partial: "banks/shared/options_mfa", locals: { credential_form: credential_form, credential: credential } %>
        <% elsif credential.html_field_type == "image_data" %>
          <%= render partial: "banks/shared/image_mfa", locals: { credential_form: credential_form, credential: credential } %>
        <% else %>
          <td>Error: Please contact customer support.</td>
        <% end %>
      <% end %>
    <% end %>
  </table>
  <%= f.submit "Submit" %>
<% end %>
