<h1>Banks::Authenticate#index</h1>
<p>Find me in app/views/banks/authenticate/index.html.erb</p>

<%= form_for :challenge do |f| %>
  <table>
    <% @credentials.each_with_index do |credential, i| %>
      <%= f.fields_for "#{i}" do |credential_form| %>
        <%= credential_form.hidden_field :guid, value: credential.mx_id %>
        <% if credential.html_field_type == "image_data" %>
          <%= image_tag(credential.image_data) %>
        <% end %>
        <tr>
          <td><%= credential_form.label credential.field_label %></td>
          <% if credential.html_field_type == "text" %>
            <td><%= credential_form.text_field :value %></td>
          <% elsif credential.html_field_type == "password" %>
            <td><%= credential_form.password_field :value %></td>
          <% elsif credential.html_field_type == "options" %>
            <%= credential_form.select :value do %>
              <% credential.options.each do |c| %>
                <%= content_tag(:option, c.label, value: c.value) %>
              <% end %>
            <% end %>
          <% elsif credential.html_field_type == "image_data" %>
            <td><%= credential_form.text_field :value %></td>
          <% else %>
            <td>Crap -- <%= credential.html_field_type %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= f.submit "Submit" %>
<% end %>
